{% extends 'base.html' %}
{% block styles %}
<style>

</style>
{% endblock %}
{% block content %}
<select id="selectCity">
    <option value="0">請選擇</optiot>
   
    </select>
    <select id="selectDistrict">
       
        </select>
        <select id="selectRoad">
           
            </select>
<div id="div1"></div>
{% endblock %}
{% block scripts %}
<script>
 const selCity = document.querySelector('#selectCity');
 const selDistrict = document.querySelector('#selectDistrict');
 const selRoad = document.querySelector('#selectRoad');
 const divInfo = document.querySelector('#div1');
 (async ()=>{
    //call api 取得 JSON 資料
   const response = await fetch('/api/cities/')
   const cities = await response.json()
    //console.log(cities)

    //讀取 JSON 資料  
    // const optsArray = cities.map((city)=>{
    //     return(
    //       `<option value="${city}">${city}</option>`
    //     )
    // })   
    const optsArray = cities.map((city,index) => `<option value="${city}">${index}-${city}</option>`)  
    //將資料顯示在網頁上
    selCity.innerHTML = optsArray.join("")
    //BeforeEnd 結束標籤</select>的前面
    //selCity.insertAdjacentHTML('BeforeEnd', optsArray.join(""))

    loadDistrict()
 })();

//根據城市名稱讀取鄉鎮區的資料
 const loadDistrict = async ()=>{
    //step1 call api fetch('api url') http://127.0.0.1:8000/api/districts/臺北市
    const response = await fetch(`/api/districts/${selCity.value}`)
    const districts = await response.json()

    //step2 讀取 JSON 資料  
    const optsArray = districts.map((item)=>`<option value="${item}">${item}</option>`)
   //  console.log(optsArray)
   //  console.log(optsArray.join(""))   

   //step3 將資料顯示在網頁上
   selDistrict.innerHTML = optsArray.join("")

   loadRoad()
 }
 const loadRoad = async ()=>{
    //step1 call api fetch('api url') http://127.0.0.1:8000/api/roads/臺北市大安區
    const response = await fetch(`/api/roads/${selDistrict.value}`)
    const roads = await response.json()

    //step2 讀取 JSON 資料  
    const optsArray = roads.map((item)=>`<option value="${item}">${item}</option>`)
   //  console.log(optsArray)
   //  console.log(optsArray.join(""))   

   //step3 將資料顯示在網頁上
   selRoad.innerHTML = optsArray.join("")
 }

 selCity.addEventListener('change',()=>{
    // const idx = selCity.selectedIndex
    // console.log(idx)
    // `${selCity.options[idx].text}：${selCity.options[idx].value}`
   //  divInfo.innerHTML = selCity.value
    loadDistrict()
  
 })

 selDistrict.addEventListener('change',()=>{
   loadRoad()
  
 })

 selRoad.addEventListener('change',()=>{
   divInfo.innerHTML = `${selCity.value}${selDistrict.value}${selRoad.value}`
 })




</script>
{% endblock %}